@charset "UTF-8";

.footer_area {
	margin-top: 20px;
	width: 100%;
	background: rgb(0, 0, 0, 0.1);
	border-top: 1px solid rgb(0, 0, 0, 0.2);
}

.footer_box {
	width: 1320px;
	height: 100px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #707070;
}