@charset "UTF-8";

.header_wrap {
	position: fixed;
	top: 0;
	box-shadow: 0px 1px 6px #00000029;
	z-index: 99;
}

.original_header {
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
	background-color: #fff;
	text-align: center;
}

.change_header {
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
	background-color: #fff;
	text-align: center;
	box-shadow: 0px 1px 6px #00000029;
}

.header_bar {
	position: relative;
	display: inline-block;
	width: 1320px;
	height: 65px;
}

.logo {
	display: inline;
	float: left;
}

.logo_img {
	width: 100px;
	height: 68px;
}

.search_bar {
	position: absolute;
	left: 40%;
	top: 25%;
	width: 250px;
	text-align: center;
}

.search_icon {
	position: absolute;
	top: 5px;
	width: 19px;
	height: 19px;
}

.search_box {
	padding-left: 27px;
	width: 250px;
	height: 25px;
	font-size: 12px;
	border: none;
	outline: none;
	border-bottom: 1px solid #707070;
}

.menu {
	float: right;
	margin-top: 10px;
}

.menu_btn li {
	float: left;
	list-style: none;
	margin-right: 10px;
}

.menu_btn li a {
	text-decoration: none;
}

.alarm_btn {
	width: 27px;
	height: 27px;
}

.login_btn {
	color: black;
	border-style: solid;
	border: none;
	padding: 6px 16px 6px 16px;
	word-break: break-all;
	border-radius: 15px;
	font-size: 10pt;
	background: #FFC900 0% 0% no-repeat padding-box;
	box-shadow: 0px 2px 6px #00000029;
}