@charset "UTF-8";

@font-face {
	font-family: "appleM";
	src: url("../../fonts/AppleSDGothicNeoM.ttf") format("truetype");
}

@font-face {
	font-family: "appleL";
	src: url("../../fonts/AppleSDGothicNeoL.ttf") format("truetype");
}

@font-face {
	font-family: 'JHaebaragi-Light-KO';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/JHaebaragi-Light-KO.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'JHaebaragi-Medium-KO';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/JHaebaragi-Medium-KO.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	font-family: "appleM";
	font-size: 16px;
}

a {
	color: #000;
	text-decoration: none;
}

ul, li, ol {
	list-style: none;
}

input, button {
	border: 0;
}

body {
	background: #FAFAFA;
}

/* ν—¤λ” */
.header_wrap {
	width: 100%;
	height: 65px;
	display: flex;
	justify-content: center;
	z-index: 999;
	background: white;
	position: fixed;
	top: 0;
	box-shadow: 0px 1px 6px #00000029;
}

.original_header {
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
	background-color: #fff;
	text-align: center;
}

.change_header {
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
	background-color: #fff;
	text-align: center;
	box-shadow: 0px 1px 6px #00000029;
}

.header_bar {
	width: 1320px;
	height: 65px;
}

.logo {
	display: inline;
	float: left;
}

.logo_img {
	width: 100px;
	height: 68px;
}

.search_bar {
	position: absolute;
	left: 40%;
	top: 25%;
	width: 250px;
	text-align: center;
}

.search_icon {
	position: absolute;
	top: 5px;
	width: 19px;
	height: 19px;
}

.search_box {
	padding-left: 27px;
	width: 250px;
	height: 25px;
	font-size: 12px;
	border: none;
	outline: none;
	border-bottom: 1px solid #707070;
}

.menu {
	float: right;
	margin-top: 20px;
}

.menu_btn li {
	float: left;
	list-style: none;
	margin-right: 10px;
}

.menu_btn li a {
	text-decoration: none;
}

.alarm_btn {
	width: 27px;
	height: 27px;
}

.login_btn {
	color: black;
	border-style: solid;
	border: none;
	padding: 6px 16px 6px 16px;
	word-break: break-all;
	border-radius: 15px;
	font-size: 10pt;
	background: #FFC900 0% 0% no-repeat padding-box;
	box-shadow: 0px 2px 6px #00000029;
}

/* ν‘Έν„° */
.footer_area {
	/* 	margin-top: 20px; */
	width: 100%;
	background: rgb(0, 0, 0, 0.1);
	border-top: 1px solid rgb(0, 0, 0, 0.2);
}

.footer_box {
	width: 1320px;
	height: 100px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #707070;
}