<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.doran.group.dao.GroupDAO">

	<!-- 그룹 목록 -->
	<select id="groupList"
		resultType="com.project.doran.group.vo.GroupVO">
		SELECT *
		FROM groupTbl
		WHERE isDeleted = 0
		ORDER BY createdDate DESC;
	</select>

	<!-- 그룹 목록 -->
	<select id="groupListApproval"
		resultType="com.project.doran.group.vo.GroupVO">
		SELECT *
		FROM groupTbl g, userGroupMappingTbl ug
		WHERE g.isDeleted = 0
		AND g.groupId = #{groupId}
		AND g.uid = #{uid}
		AND ug.isApproval > 0
		ORDER BY g.createdDate DESC;
	</select>

	<!-- 생성자-그룹 매핑 -->
	<insert id="userGroupMapping">
		INSERT INTO userGroupMappingTbl(groupId, uid,
		isApproval)
		VALUES (#{groupId}, #{uid}, 2)
	</insert>

	<!-- 그룹 페이지 -->
	<select id="groupHome"
		resultType="com.project.doran.group.vo.GroupVO">
		SELECT *
		FROM groupTbl
		WHERE groupId = #{groupId}
	</select>

	<!-- 그룹 생성 -->
	<insert id="groupCreate" useGeneratedKeys="true"
		keyProperty="groupId">
		INSERT INTO groupTbl(categoryId, groupName, groupIntro,
		groupImagePath, uid)
		VALUES (#{categoryId}, #{groupName}, #{groupIntro}, #{groupImagePath},
		#{uid})
	</insert>

	<!-- 그룹 수정 -->
	<update id="groupUpdate">
		UPDATE groupTbl
		SET categoryId = #{categoryId},
		groupName = #{groupName}, groupIntro = #{groupIntro},
		groupImagePath = #{groupImagePath}, isRevised = 1, revisedDate = now()
		WHERE groupId
		= #{groupId}
	</update>

	<!-- 그룹 삭제 -->
	<update id="groupRemove">
		UPDATE groupTbl
		SET isDeleted = 1, deletedDate = now()
		WHERE groupId = #{groupId}
	</update>

	<!-- 그룹 가입 신청 -->
	<insert id="groupJoin">
		INSERT INTO userGroupMappingTbl(groupId, uid)
		VALUES (#{groupId}, #{uid})
	</insert>

	<!-- 그룹 가입 신청 여부 체크 -->
	<select id="groupJoinCheck" resultType="int">
		SELECT count(*)
		FROM userGroupMappingTbl
		WHERE groupId = #{groupId}
		AND uid = #{uid}
	</select>

	<!-- 그룹 가입 승인 체크 -->
	<select id="isApproval" resultType="int">
		SELECT count(*)
		FROM
		userGroupMappingTbl
		WHERE groupId = #{groupId}
		AND uid = #{uid}
		AND isApproval > 0
	</select>

</mapper>