<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.doran.group.dao.GroupDAO">
	
	<!-- 그룹 목록 -->
	<select id="groupList" resultType="com.project.doran.group.vo.GroupVO">
		select * from groupTbl where isDeleted = 0 order by createdDate desc;
	</select>
	
</mapper>