<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.doran.reply.dao.ReplyDAO">

	<!-- 댓글 목록 -->
	<select id="replyList" resultType="com.project.doran.reply.vo.ReplyVO">
		select r.replyId, r.postId, r.uid, r.replyContent, r.repliedDate, u.nickname
		from replyTbl r
			left outer join userTbl u on r.uid = u.uid
			left outer join postTbl p on r.postId = p.postId
			left outer join groupTbl g on p.groupId = g.groupId
		where p.groupId = #{groupId} and r.isDeleted = 0
		order by r.repliedDate;
	</select>
	
	<!-- 댓글 작성 -->
	<insert id="replyWrite">
		insert into replyTbl(postId, uid, replyContent) values (#{postId}, #{uid}, #{replyContent})
	</insert>
	
	<!-- 댓글 수정 -->
	<update id="replyUpdate">
		update replyTbl
		set replyContent = #{replyContent}, isRevised = 1, revisedDate = now()
		where replyId = #{replyId}
	</update>
	
	<!-- 댓글 삭제 -->
	<update id="replyDelete">
		update replyTbl 
		set isDeleted = 1, deletedDate = now()
		where replyId = #{replyId}
	</update>
	
	<!-- 댓글 수 업데이트 -->
	<update id="replyCountUpdate">
		UPDATE postTbl
		SET postTbl.replyCount = (SELECT count(replyId)
									FROM replyTbl
									WHERE postId = #{postId} AND isDeleted = 0)
		WHERE postTbl.postId = #{postId};
	</update>
	
</mapper>