<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.doran.tag.dao.TagDAO">


	<!-- 삽입 -->
	<insert id="tagInsert">
		INSERT INTO tagTbl(tagName)
		VALUES(#{tagName})
	</insert>

	<!-- 삭제 -->
	<delete id="tagDelete">
		DELETE FROM tagTbl
		WHERE tagId=#{tagId}
	</delete>

	<select id="tagListCount" resultType="int" parameterType="searchCriteriaVO">
		SELECT count(*) 
		FROM tagtbl
		WHERE 1=1
		<if test="keyword != null">
			AND tagName LIKE CONCAT('%', #{keyword}, '%')
		</if>
	</select>

	
	<select id="tagList" resultType="com.project.doran.tag.vo.TagVO" parameterType="searchCriteriaVO">
		SELECT tagId, tagName
		FROM tagTbl
		WHERE 1=1
		<if test="keyword != null">
			AND tagName LIKE CONCAT('%', #{keyword}, '%')
		</if>
		ORDER BY tagId desc
		LIMIT #{pageStart}, #{perPageNum}
	</select>


</mapper>