<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.doran.user.dao.UserDAO">

	<!-- User -->
	<resultMap id="user" type="userVO">
		<result property="uid" column="uid" />
		<result property="upass" column="upass" />
		<result property="name" column="name" />
		<result property="birthDate" column="birthDate" />
		<result property="gender" column="gender" />
		<result property="nickname" column="nickname" />
		<result property="email" column="email" />
		<result property="address" column="address" />
		<result property="authority" column="authority" />
	</resultMap>
	
	<select id="userList" resultMap="user">
		SELECT uid, upass, name, birthDate, gender, nickname, email, address
		FROM userTbl
	</select>
	
	<update id="userUpdate" parameterType="userVO">
		UPDATE userTbl 
		SET upass = #{upass}, name = #{name}, birthDate = #{birthDate}, gender = #{gender}, 
			nickname = #{nickname}, email = #{email}, address = #{address}
		WHERE uid = #{uid} 
	</update>
	
	<select id="userInfo" resultType="userVO">
		SELECT uid, upass, name, birthDate, gender, nickname, email, address
		FROM userTbl
		WHERE uid = #{uid} 
	</select>
	
</mapper>