<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.doran.user.dao.UserDAO">

	<!-- 회원 목록 -->
	<select id="userList" resultType="com.project.doran.user.vo.UserVO">
		SELECT userTbl.nickname, postTbl.content, postTbl.postedDate, categoryTbl.categoryName, tagTbl.tagName
		FROM userTbl, postTbl, categoryTbl, tagTbl
		<!-- 이곳에 조건을 사용 -->
		<include refid="search" />
		ORDER BY postedDate DESC
	</select>
	
	<sql id="search">
		<!-- 검색어가 존재 하는 경우에만 검색을 실행 -->
		<if test="keyword != null and keyword != ''.toString() ">
			or nickname like '%' || #{nickname} || '%'
			or content like '%' || #{content} || '%'
			or categoryName like '%' || #{categoryName} || '%'
			or tagName like '%' || #{tagName} || '%'
		</if>
	</sql>
	
<!-- 	<select id="selectTagList" resultMap="search"> -->
<!-- 		SELECT tagName -->
<!-- 		FROM tagTbl -->
<!-- 	</select> -->
	
	<!-- 회원 수정 -->
	<update id="updateUser">
		UPDATE userTbl 
		SET upass = #{upass}, name = #{name}, birthDate = #{birthDate}, gender = #{gender}, 
			nickname = #{nickname}, email = #{email}, address = #{address}
		WHERE uid = #{uid} 
	</update>
</mapper>