<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.doran.category.dao.CategoryDAO">

	<!-- category -->
	<resultMap id="category" type="categoryVO">
		<result property="categoryId" column="categoryId" />
		<result property="categoryName" column="categoryName" />
	</resultMap>
	
	<insert id="categoryInsert" parameterType="categoryVO">
		INSERT INTO categoryTbl(categoryName)
		VALUES(#{categoryName})
	</insert>
	
	<delete id="categoryDelete" parameterType="Integer">
		DELETE FROM categoryTbl 
		WHERE categoryId=#{categoryId} 
	</delete>
	
	<!-- 카테고리 목록 -->
	<select id="categoryList" resultType="com.project.doran.category.vo.CategoryVO">
		select * from categoryTbl
	</select>
	
</mapper>