@charset "UTF-8";

.groupWrapper {
	display: flex;
	justify-content: space-between;
	width: 1320px;
	margin: 125px auto 60px;
}

/* Left Bar */
.leftWrapper {
	position: relative;
	width: 230px;
	height: 470px;
	margin-top: 55px;
	text-align: center;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0px 2px 6px #00000029;
}

.groupPhoto img {
	width: 200px;
	height: 200px;
	margin-top: 20px;
	border: 1px solid #ccc;
}

.contents {
	padding: 15px 30px;
}

.contents h3 {
	margin-bottom: 15px;
	font-size: 18px;
}

.contents p {
	text-align: left;
}

.groupJoinBtn, .groupNoneBtn, .groupSetBtn {
	position: absolute;
	bottom: 35px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 120px;
	height: 35px;
	line-height: 35px;
	border-radius: 5em;
	background-color: #ffc900;
}

/* Right Bar */
.rightWrapper {
	width: 250px;
	height: 250px;
	margin-top: 55px;
	padding: 20px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0px 2px 6px #00000029;
	box-sizing: border-box;
	box-shadow: 0px 2px 6px #00000029;
}

.rightWrapper>p {
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 18px;
}

.hotPost_info {
	margin-bottom: 10px;
}

.hotPost_info p a {
	padding-left: 7px;
}

.hotPost_info p a:hover {
	color: #ffc900;
}

.hotPost_info p a span {
	display: inline-block;
	max-width: 160px;
	height: 100%;
	padding-right: 7px;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Middle Main */

/* 검색 & 피드 작성 버튼 */
.search_wrap {
	position: relative;
}

.searchWrite {
	width: 660px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 17px;
}

.searchWrite img {
	position: absolute;
	top: 50%;
	left: 8px;
	transform: translate(0, -50%);
	width: 15px;
	height: 15px;
}

.searchWrite input {
	width: 250px;
	height: 35px;
	padding-left: 33px;
	border-radius: 5px;
	background-color: #ddd;
	outline: none;
}

.searchWrite input:focus {
	box-shadow: 2px 2px 5px 1px gray;
}

.searchReset {
	margin-left: 5px;
	color: #ccc;
}

.postWriteBtn {
	width: 100px;
	height: 35px;
	line-height: 37px;
	border-radius: 5em;
	background-color: #ffc900;
	box-shadow: 0px 2px 6px #00000029;
	line-height: 37px;
}

/* 피드 작성 모달창 */
.postWrite_modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 99;
	display: none;
}

.postWrite_modal .postWrite_content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	height: 500px;
	padding: 30px;
	text-align: center;
	background: #fff;
	vertical-align: middle;
}

.openness_btn input[type="radio"] {
	display: none;
}

.openness_btn input[type="radio"]+span {
	display: inline-block;
	padding: 10px 20px;
	border: 1px solid #FFC900;
	text-align: center;
	cursor: pointer;
}

.openness_btn input[type="radio"]:checked+span {
	background-color: #FFC900;
}

.postWrite_content textarea {
	width: 400px;
	height: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
	resize: none;
	background: #FFF6D6;
}

.postWrite_content input {
	width: 400px;
	height: 20px;
	background: #FFF6D6;
	margin-bottom: 20px;
}

.postWriteBtn_wrap button {
	background-color: #FFC900;
	border-radius: 5em;
	border: none;
	width: 80px;
	height: 25px;
	line-height: 25px;
	cursor: pointer;
	box-shadow: 0px 2px 6px #00000029;
}

.postWriteCancleBtn {
	position: absolute;
	top: 30px;
	right: 30px;
	border: none;
	outline: none;
	background: none;
}

.postWriteCancleBtn img {
	border: none;
	outline: none;
	background: none;
	width: 25px;
	height: 25px;
}

.postWrite_modal .postWriteBtn_wrap, .postUpdate_modal .postUpdateBtn_wrap
	{
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translate(-50%, 0%);
}

/* 피드 */
.post_info {
	width: 600px;
	height: auto;
	margin-bottom: 40px;
	padding: 30px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 2px 2px 5px 1px #d2d2d2;
}

/* 모달창 */
.show_modal {
	display: block
}