@charset "UTF-8";

.groupUpdate_wrap{
	width:880px;
    height:650px;
    margin:125px auto;
    display:flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 6px #00000029;
}

.groupContent {
	width:600px;
	height:500px;
	margin:0 auto;
}

.groupContent h3 {
	font-size:20pt;
}

.groupContent input {
	width:600px;
	height:20px;
	border:none;
	outline:none;
	border-bottom:1px solid black;
	margin-bottom:30px;
}
.category_wrap {
	margin-top:20px;
	margin-bottom:20px;
}

.groupUpdate_btn {
	display:flex;
	justify-content:center;
}


.cancel_btn {
	background-color:white;
    border-radius: 5em;
    border:1px solid #FFC900;

    width: 100px;
    height: 30px;
    line-height: 28px;

    cursor: pointer;
    box-shadow:0px 2px 6px #00000029;
    margin-right:5px;
}

.finish_btn {
	background-color: #FFC900;
    border-radius: 5em;
    border: none;

    width: 100px;
    height: 30px;
    line-height: 30px;

    cursor: pointer;
    box-shadow:0px 2px 6px #00000029;
}

label.input_file {
	display: inline-block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background-color: #eee;
	cursor: pointer;
	background-color: #eee;
	text-align: center;
}

input[type="file"] {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
}

.category_btn input[type="radio"] {
	display:none;
}

.category_btn input[type="radio"] + span {
	display: inline-block;
        padding: 8px 20px;
        border: 1px solid  #FFC900;
        border-radius:5em;
        text-align: center;
        cursor: pointer;
}

.category_btn input[type="radio"]:checked + span {
	 background-color:  #FFC900;
}