@charset "UTF-8";

body {
	height: 100vh;
}

.container {
	padding: max(calc(50vh - 251px), 125px) 0 max(calc(50vh - 316px), 60px) 0;
	box-sizing: border-box;
}

.groupCreate_wrap {
	width: 880px;
	/* 	height: 600px; */
	/* 	margin: 50px auto; */
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding: 60px 80px;
	align-items: center;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 1px 6px #00000029;
	box-sizing: border-box;
}

.groupContent h3 {
	font-size: 30px;
	font-weight: normal;
	margin-bottom: 25px;
}

/* 카테고리 */
.category_wrap {
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
}

label.category_btn {
	margin: 0 10px 10px 0;
}

label.category_btn input[type="radio"] {
	display: none;
}

.category_btn input[type="radio"]+span {
	display: inline-block;
	height: 38px;
	line-height: 40px;
	padding: 0 20px;
	border: 1px solid #FFC900;
	border-radius: 5em;
	text-align: center;
	cursor: pointer;
}

.category_btn input[type="radio"]:checked+span {
	background-color: #FFC900;
}

/* 인풋 영역 */
.groupContent input {
	width: 100%;
	height: 30px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
}

/* 버튼 영역 */
.groupCreate_btn {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.cancel_btn {
	width: 100px;
	height: 40px;
	line-height: 40px;
	margin-right: 20px;
	border: 1px solid #FFC900;
	border-radius: 5em;
	background-color: white;
	box-shadow: 0px 2px 6px #00000029;
	cursor: pointer;
	transition: transform .3s;
}

.cancel_btn:hover {
transform: translateY(-3px);
}


.finish_btn {
	width: 100px;
	height: 40px;
	line-height: 40px;
	border: none;
	border-radius: 5em;
	background-color: #FFC900;
	box-shadow: 0px 2px 6px #00000029;
	cursor: pointer;
	transition: transform .3s;
}

.finish_btn:hover {
	transform: translateY(-3px);
}

/* 이미지 */
.imageUpload_wrap {
	height: 122px;
	margin-bottom: 25px;
}

.imageUpload_wrap label {
	position: relative;
	display: inline-block;
	width: 120px;
	height: 120px;
	text-align: center;
	background: #eee;
	border: 1px solid #ccc;
	cursor: pointer;
}

.imageUpload_wrap label img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30px;
	height: 30px;
}

.fileView_wrap {
	position: relative;
	height: 100px;
}

.fileView_wrap img {
	width: 120px;
	height: 120px;
	border: 1px solid #ccc;
}

.fileView_wrap span {
	position: absolute;
	top: 0;
	left: 0;
	width: 120px;
	height: 120px;
	line-height: 120px;
	color: #fff;
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid #ccc;
	cursor: pointer;
	opacity: 0;
}

.fileView_wrap span:hover {
	opacity: 1;
}

input[type="file"] {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
}
