@charset "UTF-8";

.groupWrapper {
	display: flex;
	justify-content: space-between;
	width: 1320px;
	min-height: calc(100vh - 285px);
	margin: 125px auto 60px;
}

/* Left Bar */
.leftWrapper {
	position: relative;
	width: 230px;
	height: 470px;
	margin-top: 55px;
	text-align: center;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0px 2px 6px #00000029;
}

.groupPhoto img {
	width: 200px;
	height: 200px;
	margin-top: 20px;
	border: 1px solid #ccc;
	object-fit: cover;
}

.contents {
	padding: 15px 30px;
}

.contents h3 {
	margin-bottom: 15px;
	font-size: 18px;
}

.contents p {
	text-align: left;
}

.groupJoinBtn, .groupNoneBtn, .groupSetBtn {
	position: absolute;
	bottom: 35px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 120px;
	height: 35px;
	line-height: 35px;
	border-radius: 5em;
	background-color: #ffc900;
	box-shadow: 0px 2px 6px #00000029;
}

/* Right Bar */
.rightWrapper {
	width: 250px;
	height: 250px;
	margin-top: 55px;
	padding: 20px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0px 2px 6px #00000029;
	box-sizing: border-box;
}

.rightWrapper>p {
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 18px;
}

.hotPost_info {
	margin-bottom: 10px;
}

.hotPost_info p a {
	padding-left: 7px;
}

.hotPost_info p a:hover {
	color: #ffc900;
}

.hotPost_info p a span {
	display: inline-block;
	/* 	max-width: 151px; */
	max-width: 185px;
	height: 100%;
	/* 	padding-right: 5px; */
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hotPost_info p img {
	width: 12px;
	height: 12px;
	padding-right: 3px;
}

/* Middle Main */

/* 검색 & 피드 작성 버튼 */
.search_wrap {
	position: relative;
}

.searchWrite {
	width: 660px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 17px;
}

.searchWrite img {
	position: absolute;
	top: 50%;
	left: 8px;
	transform: translate(0, -50%);
	width: 15px;
	height: 15px;
}

.searchWrite input {
	width: 250px;
	height: 35px;
	padding-left: 33px;
	border-radius: 5px;
	background-color: #ddd;
	outline: none;
}

.searchWrite input:focus {
	box-shadow: 2px 2px 5px 1px gray;
}

.searchReset {
	margin-left: 5px;
	color: #ccc;
}

.postWriteBtn {
	width: 100px;
	height: 35px;
	line-height: 37px;
	border-radius: 5em;
	background-color: #ffc900;
	box-shadow: 0px 2px 6px #00000029;
	cursor: pointer;
}

.postWriteBtn:hover {
	transform: translateY(-3px);
}

/* 피드 작성 모달창 */
.postWrite_modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 999;
	display: none;
}

.postWrite_modal .postWrite_content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	height: 600px;
	padding: 70px 75.5px;
	text-align: center;
	background: #fff;
	box-sizing: border-box;
}

label.openness_btn input[type="radio"] {
	display: none;
}

label.openness_btn span {
	float: left;
	width: 111px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #FFC900;
	text-align: center;
	cursor: pointer;
}

label.openness_btn input[type="radio"]:checked+span {
	background-color: #FFC900;
}

label.openness_btn:nth-of-type(1) span {
	border-radius: 10px 0 0 10px;
}

label.openness_btn:nth-of-type(2) span {
	margin-left: -1px;
}

label.openness_btn:nth-of-type(3) span {
	margin-left: -1px;
}

label.openness_btn:nth-of-type(4) span {
	margin-left: -1px;
	border-radius: 0 10px 10px 0;
}

.postWrite_content textarea {
	width: 100%;
	height: 200px;
	margin: 20px 0 10px 0;
	padding: 10px;
	border: none;
	outline: none;
	resize: none;
	background: rgba(255, 201, 0, 0.05);
	box-sizing: border-box;
}

.postWrite_content input[type="text"] {
	width: 100%;
	height: 30px;
	margin-bottom: 25px;
	padding: 5px 10px;
	outline: none;
	background: rgba(255, 201, 0, 0.05);
	box-sizing: border-box;
}

input[type="file"] {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
}

.postWrite_content .attach_wrap label.inputFilesBtn {
	float: left;
	width: 70px;
	height: 70px;
	line-height: 70px;
	margin-right: 22.25px;
	text-align: center;
	border: 1px solid #ccc;
	background-color: #eee;
	cursor: pointer;
}

.postWrite_content .attach_wrap {
	height: 72px;
	margin-bottom: 20px;
}

.postWrite_content .attach_wrap ul {
	display: flex;
}

.postWrite_content .attach_wrap ul li img {
	width: 70px;
	height: 70px;
	margin-right: 22.25px;
	border: 1px solid #ccc;
}

.postWrite_content .attach_wrap ul li:last-child img {
	margin-right: 0;
}

.postWriteBtn_wrap {
	clear: both;
}

.postWriteBtn_wrap .postWriteCancleBtn {
	width: 90px;
	height: 35px;
	line-height: 36px;
	margin-right: 10px;
	border: 1px solid #FFC900;
	border-radius: 5em;
	background-color: #fff;
	box-shadow: 0px 2px 6px #00000029;
	border: 1px solid #FFC900;
	height: 35px;
	line-height: 36px;
}

.postWriteBtn_wrap .postWriteFinBtn {
	width: 90px;
	height: 35px;
	line-height: 36px;
	border: 1px solid #FFC900;
	border-radius: 5em;
	background-color: #FFC900;
	box-shadow: 0px 2px 6px #00000029;
	height: 35px;
	line-height: 36px;
}

/* 피드 */
.post_wrap {
	
}

.post_info {
	width: 600px;
	height: auto;
	margin-bottom: 40px;
	padding: 30px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 2px 2px 5px 1px #d2d2d2;
}

.groupFeedUpper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.userId {
	display: flex;
	align-items: center;
}

.userId img {
	width: 40px;
	height: 40px;
	margin-right: 10px;
	border: 1px solid #ccc;
	border-radius: 50%;
}

.userId p {
	font-weight: bold;
	font-size: 18px;
	margin-right: 10px;
}

.userId span {
	color: gray;
}

.groupFeedMenu {
	overflow: hidden;
}

.groupFeedMenu img {
	width: 25px;
	cursor: pointer;
}

.groupFeedMenu .toggleMenu {
	position: relative;
	float: left;
	margin-top: 3px;
	margin-right: 10px;
}

.groupFeedMenu .toggleMenu::after {
	content: "";
	width: 4px;
	height: 4px;
	background-color: gray;
	border-radius: 50%;
	position: absolute;
	top: 7.5px;
	right: 39px;
}

.groupFeedMenu .toggleMenu button {
	color: gray;
	background: none;
}

.postUpdateBtn {
	margin-right: 20px;
}

.middleContents {
	margin-bottom: 15px;
	word-break: break-all;
	text-overflow: ellipsis;
}

.middleContents textarea {
	width: 100%;
	border: none;
	outline: none;
	resize: none;
	overflow: hidden;
	box-sizing: border-box;
}

.groupFeedLower {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.groupHash button {
	color: gray;
	margin-right: 10px;
	font-size: 16px;
}

.groupHash button:hover, .groupHash button:focus, .groupHash button:active
	{
	color: #ffc900;
	cursor: pointer;
}

.groupReply {
	margin-right: 15px;
}

.groupReply img {
	width: 15px;
	height: 15px;
	margin-right: 5px;
	vertical-align: -1.5px;
}

.groupLike img {
	width: 15px;
	height: 15px;
	margin-right: 5px;
}

.groupLike img.likeBtn {
	cursor: pointer;
}

.groupFeedImg {
	display: flex;
}

.groupFeedImg img {
	width: 140px;
	height: 140px;
	border-radius: 10px;
	box-shadow: 1px 1px 5px 1px #d2d2d2;
	text-align: center;
	object-fit: cover;
	cursor: pointer;
	margin-right: 13px;
}

/* 댓글 */
.reply_wrap {
	margin-top: 10px;
}

.groupComment {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 15px;
}

.groupComment>img {
	width: 25px;
	height: 25px;
	border: 1px solid #ccc;
	border-radius: 50%;
}

.groupComment span {
	width: 70px;
	margin-top: 4px;
	margin-left: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.groupComment textarea {
	/* 	background: pink; */
	width: 480px;
	margin-top: 4px;
	color: gray;
	border: none;
	resize: none;
	outline: none;
	overflow: hidden;
}

.groupComment textarea.readonlyF {
	/* 	padding: 5px; */
	border: 1px solid #ccc;
}

.groupReplyMenu {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 5px;
}

.groupReplyMenu img {
	text-align: right;
	width: 15px;
	cursor: pointer;
}

.groupReplyMenu .toggleMenu {
	position: absolute;
	top: -1.5px;
	right: -80px;
}

.groupReplyMenu .toggleMenu::after {
	content: "";
	width: 4px;
	height: 4px;
	background-color: gray;
	border-radius: 50%;
	position: absolute;
	top: 7.5px;
	right: 35px;
}

.groupReplyMenu .toggleMenu button {
	color: gray;
	background: none;
}

.replyUpdateBtn {
	margin-right: 14px;
}

.replyUpdateBtn_wrap:after {
	content: "";
	width: 4px;
	height: 4px;
	background-color: gray;
	border-radius: 50%;
	position: absolute;
	top: 28.5px;
	right: 35px;
}

.replyUpdateBtn_wrap .replyUpdateCancleBtn {
	margin-right: 14px;
}

/* 댓글 작성 */
.replyWrite_wrap {
	position: relative;
	border-radius: 5em;
	border: 1px solid #ccc;
}

.replyWrite_wrap .replyContent {
	width: 545px;
	height: 30px;
	text-indent: 10px;
	border-radius: 5em 0 0 5em;
	outline: none;
}

.replyWrite_wrap .replyWriteBtn {
	position: absolute;
	top: 0px;
	right: 0px;
	display: inline-block;
	width: 60px;
	height: 100%;
	border-radius: 0 5em 5em 0;
}

/* 게시물 수정 모달창 */
.postUpdate_modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 999;
	display: none;
}

.postUpdate_modal .postUpdate_content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	height: 600px;
	padding: 70px 75.5px;
	text-align: center;
	background: #fff;
	box-sizing: border-box;
}

.postUpdate_content label input[type="radio"] {
	display: none;
}

.postUpdate_content label span {
	float: left;
	width: 111px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #FFC900;
	text-align: center;
	cursor: pointer;
}

.postUpdate_content label input[type="radio"]:checked+span {
	background-color: #FFC900;
}

.postUpdate_content label:nth-of-type(1) span {
	border-radius: 10px 0 0 10px;
}

.postUpdate_content label:nth-of-type(2) span {
	margin-left: -1px;
}

.postUpdate_content label:nth-of-type(3) span {
	margin-left: -1px;
}

.postUpdate_content label:nth-of-type(4) span {
	margin-left: -1px;
	border-radius: 0 10px 10px 0;
}

.postUpdate_content textarea {
	width: 100%;
	height: 200px;
	margin: 20px 0 10px 0;
	padding: 10px;
	border: none;
	outline: none;
	resize: none;
	background: rgba(255, 201, 0, 0.05);
	box-sizing: border-box;
}

.postUpdate_content input[type="text"] {
	width: 100%;
	height: 30px;
	margin-bottom: 25px;
	padding: 5px 10px;
	outline: none;
	background: rgba(255, 201, 0, 0.05);
	box-sizing: border-box;
}

.postUpdate_content .attach_wrap label.inputFilesBtn {
	float: left;
	width: 70px;
	height: 70px;
	line-height: 70px;
	margin-right: 22.25px;
	text-align: center;
	border: 1px solid #ccc;
	background-color: #eee;
	cursor: pointer;
}

.postUpdate_content .attach_wrap {
	height: 72px;
	margin-bottom: 20px;
}

.postUpdate_content .attach_wrap ul {
	display: flex;
}

.postUpdate_content .attach_wrap ul li img {
	width: 70px;
	height: 70px;
	margin-right: 22.25px;
	border: 1px solid #ccc;
}

.postUpdate_content .attach_wrap ul li:last-child img {
	margin-right: 0;
}

.postUpdateBtn_wrap {
	clear: both;
}

.postUpdateBtn_wrap .postUpdateCancleBtn {
	width: 90px;
	height: 35px;
	line-height: 36px;
	margin-right: 10px;
	border: 1px solid #FFC900;
	border-radius: 5em;
	background-color: #fff;
	box-shadow: 0px 2px 6px #00000029;
	border: 1px solid #FFC900;
	height: 35px;
	line-height: 36px;
}

.postUpdateBtn_wrap .postUpdateFinBtn {
	width: 90px;
	height: 35px;
	line-height: 36px;
	border: 1px solid #FFC900;
	border-radius: 5em;
	background-color: #FFC900;
	box-shadow: 0px 2px 6px #00000029;
	height: 35px;
	line-height: 36px;
}

/* /////////////////////////// */
.groupReadMore {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
	cursor: pointer;
}

.groupReadMore img {
	width: 20px;
	height: 20px;
}

/* 작은 피드 형태 */
.groupId_small {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.groupFeedName {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.groupFeed_small {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.middleWrapper_small {
	padding-left: 20px;
}

/* 모달창 */
.show_modal {
	display: block
}

/* 인기 게시물 */
.hotPost {
	transform: scale(1.1);
}

/* top */
#topBtn {
	position: fixed;
	bottom: 38px;
	right: 50%;
	transform: translate(calc(-50% + 20px), 0);
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 50%;
}

/* 게시물 X */
.postSearchNone, .postNone {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 460px;
}

.postSearchNone span, .postNone span {
	font-size: 16px;
}