<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.doran.search.dao.SearchDAO">

	<!-- 검색 그룹 목록 -->
	<select id="searchGroupList" resultType="com.project.doran.group.vo.GroupVO">
		SELECT *
		FROM groupTbl g
			LEFT OUTER JOIN userTbl u ON u.uid = g.uid
		WHERE g.isDeleted = 0
			AND (g.groupName LIKE CONCAT('%',#{keyword},'%'))
		ORDER BY g.createdDate DESC
	</select>
	
	<!-- 검색 게시물 목록 -->
	<select id="searchPostList" resultType="com.project.doran.post.vo.PostVO">
		SELECT *
		FROM postTbl p
			LEFT OUTER JOIN userTbl u ON p.uid = u.uid
			LEFT OUTER JOIN groupTbl g ON g.groupId = p.groupId
		WHERE p.isDeleted = 0
			AND g.isDeleted = 0
			AND (p.content LIKE CONCAT('%',#{keyword},'%'))
		ORDER BY p.postedDate DESC
	</select>
	
</mapper>