@charset "UTF-8";

.groupContent {
	width:650px;
	margin:50px auto;
}

.groupList {
	height:324px;
	overflow:scroll; 
	margin-top:20px;
}

.groupList ul {
	margin-block-start:0;
	padding-inline-start:0;
}

.groupList ul li {
	float:left;
	list-style:none;
	margin-right:15px;
}

.groupList ul li img {
	object-fit:cover;
}

.groupList ul li a {
	text-decoration:none;
	color:#707070;
}

.groupCreate_wrap h3 {
	margin-top:20px;
}


.groupCreate_wrap{
	width:880px;
    margin:125px auto;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 6px #00000029;
}

.groupCreate_btn{
	float:right;
}

.groupCreate_btn button{
	background-color:#FFC900;
    border-radius: 5em;
    border:none;

    width: 100px;
    height: 30px;
    line-height: 28px;

    cursor: pointer;
    box-shadow:0px 2px 6px #00000029;
    margin-right:5px;
}

.category_wrap {
	margin-top:20px;
	margin-bottom:20px;
}

.category_btn input[type="radio"] {
	display:none;
}

.category_btn input[type="radio"] + span {
	display: inline-block;
        padding: 8px 20px;
        border: 1px solid  #FFC900;
        border-radius:5em;
        text-align: center;
        cursor: pointer;
}

.category_btn input[type="radio"]:checked + span {
	 background-color:  #FFC900;
}